@import "@fontsource/inter";
@import "@fontsource/bricolage-grotesque";
@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  background-color: #080808;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bricolage Grotesque", sans-serif;
}

button {
  cursor: pointer;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
}
